// Fonts

// Medium
@font-face {
  font-family: 'poppinsRG';
  src: url("../../assets/fonts/Poppins-Regular.otf");
}
// Bold
@font-face {
  font-family: 'poppinsBold';
  src: url("../../assets/fonts/Poppins-Bold.otf");
}


// Shamel Normal
@font-face {
  font-family: 'shamelNormal';
  src: url("../../assets/fonts/FFShamelFamily-NormalSans.otf");
}
// Shamel Bold
@font-face {
  font-family: 'shamelBold';
  src: url("../../assets/fonts/FFShamelFamily-BoldSans.otf");
}
// Shamel Medium
@font-face {
  font-family: 'shamelMedium';
  src: url("../../assets/fonts/FFShamelFamily-MediumSans.otf");
}

// Almarai Light
@font-face {
  font-family: 'almaraiLight';
  src: url("../../assets/fonts/Almarai-Light.ttf");
}
// Almarai Regular
@font-face {
  font-family: 'almaraiRegular';
  src: url("../../assets/fonts/Almarai-Regular.ttf");
}
// Almarai Bold
@font-face {
  font-family: 'almaraiBold';
  src: url("../../assets/fonts/Almarai-Bold.ttf");
}
// Almarai Extra Bold
@font-face {
  font-family: 'almaraiExBold';
  src: url("../../assets/fonts/Almarai-ExtraBold.ttf");
}
