// Colors

// $dark-color: #171821;

// $dark-color-bg: #1D1E26;
$light-color-bg: #cdd3b8;

$primary-color: rgb(209 214 214);
$primary-color-dark: #5b1606;
$gradient-navbar: #461105;

$secondary-color: #D0E957;

// $open-nav-bg: rgba($primary-color-dark, 0.9);
$open-nav-bg: rgba(white, 0.8);

$text-color: #2B2B2B;
// $text-color-dark: #364652;
$text-color-light: #8ca1a2;
