// Font Family
$poppinsRG: 'poppinsRG';
$poppinsBold: 'poppinsBold';


$shamelNormal: 'shamelNormal';
$shamelBold: 'shamelBold';
$shamelMedium: 'shamelMedium';


$almaraiLight: 'almaraiLight';
$almaraiRegular: 'almaraiRegular';
$almaraiBold: 'almaraiBold';
$almaraiExBold: 'almaraiExBold';


$san-serif: sans-serif;